
<h3>
  <div class="pull-right">
    <p>
      <%= link_to 'Edit', edit_assignment_path(@assignment), {:class => "btn"} %>
    </p>
  </div>
  Assignment: <%= @assignment.name %>
</h3>

<p>
  <b>Name:</b>
  <%= @assignment.name %>
</p>

<p>
  <b>Instructions:</b>
  <%= @assignment.instructions %>
</p>


<% if current_teacher then %>
  <h3>Submissions</h3>
  
<% end %>


