<h3>
  <div class="pull-right">
    <p>
      <%= link_to 'Edit', edit_submission_path(@submission), {:class => "btn"} %>
    </p>
  </div>
  Submission Detail
</h3>

<p>
  <b>Assignment:</b>
  <%= @submission.assignment.name %>
</p>

<p>
  <b>Body:</b>
  <%= @submission.body %>
</p>


